<!DOCTYPE html>
<html>
<body ng-app="">
	<div ng-controller="personController" ng-init="counter=1">
	<input type="text" ng-model="search"/>
		<p ng-repeat="student in students | filter:search| orderBy: 'firstName'">
			Roll Number: <input type="text" name="students[]['rollNumber']" ng-model="student.rollNumber"/>
			First Name: <input type="text" name="students[]['firstName']" ng-model="student.firstName"/>
			Last Name: <input type="text" name="students[]['lastName']" ng-model="student.lastName"/>
		</p>

		<br/>
		<p ng-repeat="student in students">
			Full Name: 	{{student.fullName()|lowercase}}
		</p>
		<p ng-bind="displayAllStudents()"></p>
		<p ng-bind="counter+1"></p>
	</div>	
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="personController.js"></script>
</body>
</html>

